body {
	text-align: center;
}

#sudoku {
	font-size: 0;
	text-align: center;
}

.box {
	border: 1px solid black;
}

div.box, div.cell {
	display: inline-block;
}

.cell input {
	width: 30px;
	height: 30px;
	font-size: 15px;
	text-align: center;
}

.incorrect {
	background-color: yellow;
}

.value-provided {
	background-color: #DDD;
}

#flash {
	margin: 20px;
	color: maroon;
}

footer {
	bottom: 0;
	margin: 2em;
}
